<header>
  <nav class="header-top"></nav>
  <nav class="header-middle">
    <div class="header-middle__container">

      <div class="header-middle__menu menu">
        <div class="menu__desktop">
          <ul class="menu__list">


            <li class="menu__item user" >

                <mat-icon>home</mat-icon>


            </li>
            <li class="menu__item active" >Main</li>
            <li class="menu__item active" >Home</li>

          </ul>
          <div class="menu__login login">
            <div class="login__normal">

            </div>

            <div class="login__hover">

            </div>
          </div>
        </div>
        <button class="menu__btn" >

        </button>
        <div class="menu__mobile" >
          <ul class="menu__list">
            <li class="menu__item">Main</li>
            <li class="menu__item" >History</li>
            <li class="menu__item" >Authorize</li>
            <li class="menu__item" >Logout</li>

          </ul>
        </div>
      </div>
    </div>
  </nav>
  <nav class="header-bottom"></nav>

</header>
