<div class="painter">
  <div class="painter__logo">
    <img src="./assets/images/painter_1.jpg" alt="painter_1">

  </div>
  <div class="painter__info">
    <div class="painter__name">Ivam Ivam,</div>
    <div class="painter__location">Helsinki</div>
    <div class="painter__phone">+78005553535</div>
    <div class="painter__mail">mail@mail.ru</div>
    <div class="painter__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum expedita
      explicabo harum ipsum porro quas unde ut? Architecto assumenda consequatur dolorum enim esse, ipsum laudantium
      minima quaerat repellat repudiandae.
    </div>
    <ul class="painter__tags tags-list">
      <li class="tags-list__item">one</li>
      <li class="tags-list__item">Two</li>
      <li class="tags-list__item">Tjee</li>
      <li class="tags-list__item">Fdfs</li>
      <li class="tags-list__item">gdfgd</li>
    </ul>
  </div>
  <div class="painter__actions">
    <kf-add-btn>Add to List!</kf-add-btn>
  </div>
</div>


