@import "src/theme/mixins";

.painter {
  margin-bottom: 10px;

  padding: 10px;
  display: block;

  @include box-shadow();
  @include borders();
  @media (min-width: 576px) {
    display: flex;
    flex-wrap: wrap;
    //background-color: red;
  }

  &__logo, &__info, &__actions {
    //flex-direction: row;
    //display: block;
    display: block;
    padding-top: 10px;

    //border: none;
    @media (min-width: 576px) {
      display: inline-block;
      border-bottom: .5px solid var(--color-minor);

    }

    //border-bottom: .5px solid var(--color-minor);
  }

  &__logo {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    @media (min-width: 576px) {
      width: calc(99% * 3 / 12);
      //text-align: center;
    }
    @media (min-width: 768px) {
      width: calc(99% * 2 / 12);
      //text-align: center;
    }

    img {
      width: 120px;
      height: 90px;
      //margin-top: 10px;
      //float: left;


    }
  }

  &__info {

    width: 100%;
    position: relative;
    @media (min-width: 576px) {
      width: calc(99% * 5 / 12);

    }
    @media (min-width: 768px) {
      width: calc(99% * 8 / 12);

    }
  }

  &__info:before {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: .5px;
    height: 98%;

    background-color: var(--color-minor);;
  }

  &__actions {

    width: 100%;
    text-align: right;
    //border-bottom: .5px solid var(--color-minor);
    //margin-bottom: 30px;
    @media (min-width: 576px) {
      width: calc(99% * 4 / 12);
      //background-color: red;
    }
    @media (min-width: 768px) {
      width: calc(99% * 2 / 12);
      //background-color: red;
    }

  }

  &__name {
    color: var(--color-font-accent);
    font-weight: 600;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__location {
    color: rgba(0, 0, 0, .7);
    font-size: 14px;
  }

  &__phone, &__mail {
    display: inline-block;
    color: var(--color-font-accent);
    font-weight: 100;
    font-size: 12px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

  }

  &__description {
    //border-bottom: .5px solid var(--color-minor);
    //padding-bottom: 10px;
    font-size: 10px;
  }

}

.tags-list {
  list-style-type: none;
  padding-left: 0;
  padding-top: 5px;
  margin: 0;

  &__item {
    color: rgba(0, 0, 0, .7);
    font-size: 12px;
    margin: 2px;
    display: inline-block;
    position: relative;

    &:not(:first-child):before {
        content: '•';
        padding-right: 4px;
        vertical-align: baseline;
    }
  }

  //&__item:before{}

}
